Repository ulenarofmondarth/power-journal-preprocess: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm prettier:format, pnpm lint, vitest related --run

deploy: ef36164f0ac434682c3784c9bd9e83ae97f3b849
  _sources/fvtt_macros.rst.txt
  _sources/index.rst.txt
  _sources/internal/set.rst.txt
  _sources/macro_arguments.rst.txt
  _sources/macro_expansion.rst.txt
  fvtt_macros.html
  index.html
  internal/set.html
  internal_macros.html
  macro_arguments.html
  macro_expansion.html
  searchindex.js
Due: pnpm prettier:format, pnpm lint, vitest related --run

deploy: 8fc81ffa83da061e048f0f45d96b96107759c494
  .buildinfo
  _static/documentation_options.js
  fvtt_macros.html
  genindex.html
  index.html
  internal/if.html
  internal/set.html
  internal/var.html
  internal_macros.html
  macro_arguments.html
  macro_expansion.html
  search.html
Due: pnpm prettier:format, pnpm lint, vitest related --run

build: uses existing documenatation zip
  .github/workflows/build-and-release.yml
Due: none

refactor(index): moves libwrapper check to init
  src/index.ts
  src/powerEnhance.ts
Due: pnpm prettier:format, pnpm lint, vitest related --run

docs: add details of limitation using macros in compendia
  docs/index.rst
Due: none

deploy: 6e1f80c1f394031b42ce1b35f71544d69f4b65b4
  _sources/index.rst.txt
  index.html
  searchindex.js
Due: pnpm prettier:format, pnpm lint, vitest related --run

deploy: 232775efe7ef14b79f02b46d2a879c051c9918bb
  .buildinfo
  _static/documentation_options.js
  fvtt_macros.html
  genindex.html
  index.html
  internal/if.html
  internal/set.html
  internal/var.html
  internal_macros.html
  macro_arguments.html
  macro_expansion.html
  search.html
Due: pnpm prettier:format, pnpm lint, vitest related --run

fix(module.json): module id, title, and urls corrected
  module.json
Due: pnpm prettier:format

chore(module): change name for consitency
  module.json
Due: pnpm prettier:format

ci(zx): transition to using zx scripts
  package.json
  pnpm-lock.yaml
  scripts/config/custom-environment-variables.json
  scripts/config/default.json
  scripts/constants.js
  scripts/docker/docbuild.mjs
  scripts/docker/docserve.mjs
  scripts/docker/vttserve.mjs
  scripts/schema/config.js
  scripts/utils/config.js
  scripts/utils/fudge_node_config.js
  scripts/utils/runtime-config.js
Due: pnpm prettier:format, pnpm lint, vitest related --run

docs(docs): minor edits and developer section added
  docs/developers/environment.rst
  docs/developers/scripts.rst
  docs/fvtt_macros.rst
  docs/index.rst
  docs/internal/var.rst
  docs/macro_arguments.rst
  docs/macro_expansion.rst
Due: none

deploy: b91877892d0b260de9c20ba24f0e03bac0530fc7
  _sources/developers/environment.rst.txt
  _sources/developers/scripts.rst.txt
  _sources/fvtt_macros.rst.txt
  _sources/index.rst.txt
  _sources/internal/var.rst.txt
  _sources/macro_arguments.rst.txt
  _sources/macro_expansion.rst.txt
  developers/environment.html
  developers/scripts.html
  fvtt_macros.html
  genindex.html
  index.html
  internal/if.html
  internal/var.html
  internal_macros.html
  macro_arguments.html
  macro_expansion.html
  objects.inv
  search.html
  searchindex.js
Due: pnpm prettier:format, pnpm lint, vitest related --run

deploy: e8da39645d41c1efaeea3612c345ee2dd20926cd
  .buildinfo
  _static/documentation_options.js
  developers/environment.html
  developers/scripts.html
  fvtt_macros.html
  genindex.html
  index.html
  internal/if.html
  internal/set.html
  internal/var.html
  internal_macros.html
  macro_arguments.html
  macro_expansion.html
  search.html
Due: pnpm prettier:format, pnpm lint, vitest related --run

fix(module): corrects module entrypoint
  module.json
Due: pnpm prettier:format

deploy: a06189e262eb361ca7b8f2ba150d549d7a5399cb
  .buildinfo
  _static/documentation_options.js
  developers/environment.html
  developers/scripts.html
  fvtt_macros.html
  genindex.html
  index.html
  internal/if.html
  internal/set.html
  internal/var.html
  internal_macros.html
  macro_arguments.html
  macro_expansion.html
  search.html
Due: pnpm prettier:format, pnpm lint, vitest related --run

chore(module): minor changes to some URLs
  module.json
Due: pnpm prettier:format

chore: cleas up module id changes
  .foundryvtt/docker-compose.yml
  src/lib/constants.ts
Due: pnpm prettier:format, pnpm lint, vitest related --run

chore(typing): tighgten typing on var feature
  src/lib/internalMacros/var.spec.ts
  src/lib/variableStore.ts
Due: pnpm prettier:format, pnpm lint, vitest related --run

build: explicitly include tests
  vite.config.js
Due: pnpm prettier:format, pnpm lint, vitest related --run

refactor: defines module id in global ClientSettings namespace
  src/global.d.ts
  src/lib/variableStore.ts
Due: pnpm prettier:format, pnpm lint, vitest related --run

feat(api): adds basic api
  src/lib/api.spec.ts
  src/lib/api.ts
  src/powerEnhance.ts
Due: pnpm prettier:format, pnpm lint, vitest related --run

deploy: 2a1cd604592aaa5320a510f9a1af10d41318a29f
  .buildinfo
  _static/documentation_options.js
  developers/environment.html
  developers/scripts.html
  fvtt_macros.html
  genindex.html
  index.html
  internal/if.html
  internal/set.html
  internal/var.html
  internal_macros.html
  macro_arguments.html
  macro_expansion.html
  search.html
Due: pnpm prettier:format, pnpm lint, vitest related --run

docs: added developer information
  docs/api.rst
  docs/developers/alternatives.rst
  docs/developers/environment.rst
  docs/developers/prerequisites.rst
  docs/developers/setup.rst
  docs/index.rst
Due: none

deploy: 0c22fc729be9c6d19bd652fa5691a53179bcf84f
  _sources/api.rst.txt
  _sources/developers/alternatives.rst.txt
  _sources/developers/environment.rst.txt
  _sources/developers/prerequisites.rst.txt
  _sources/developers/setup.rst.txt
  _sources/index.rst.txt
  api.html
  developers/alternatives.html
  developers/environment.html
  developers/prerequisites.html
  developers/setup.html
  fvtt_macros.html
  genindex.html
  index.html
  internal/if.html
  internal/var.html
  internal_macros.html
  macro_arguments.html
  macro_expansion.html
  objects.inv
  search.html
  searchindex.js
Due: pnpm prettier:format, pnpm lint, vitest related --run

Path conditions:
  pnpm prettier:format: ((any of: *.json) or (any of: *.{css,scss})) or (any of: *.{js,ts,mjs,svelte})
  pnpm lint: any of: *.{js,ts,mjs,svelte}
  vitest related --run: any of: *.{js,ts,mjs,svelte}
