Repository ulenarofmondarth/power-journal-preprocess: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm prettier:format, pnpm lint, vitest related --run

.lintstagedrc.json:

{
  "*.json": ["pnpm prettier:format"],
  "*.{css,scss}": ["pnpm prettier:format"],
  "*.{js,ts,mjs,svelte}": ["pnpm prettier:format", "pnpm lint", "vitest related --run"]
}

build: aligned with FoundryVTT recommendations
  tsconfig.json
  vite.config.js
Due: pnpm prettier:format, pnpm lint, vitest related --run

ci(prettier): corrects prettier ignore for pnpm
  .prettierignore
Due: none

build(package): updates all packages to latest
  package.json
  pnpm-lock.yaml
Due: pnpm prettier:format

feat(expand): reevaluate expanded macros
  lang/en.json
  src/lib/expand.spec.ts
  src/lib/expand.ts
Due: pnpm prettier:format, pnpm lint, vitest related --run

feat(expand): allow complex separators
  src/lib/expand.spec.ts
  src/lib/expand.ts
Due: pnpm prettier:format, pnpm lint, vitest related --run

fix(expand): corrects reporting badfunc and toomanyclose
  src/lib/expand.spec.ts
  src/lib/expand.ts
Due: pnpm prettier:format, pnpm lint, vitest related --run

feat: adds basic variable handling
  lang/en.json
  src/lib/constants.ts
  src/lib/internalMacros.ts
  src/lib/internalMacros/set.spec.ts
  src/lib/internalMacros/set.ts
  src/lib/internalMacros/var.spec.ts
  src/lib/internalMacros/var.ts
  src/lib/variableStore.ts
  src/powerEnhance.ts
Due: pnpm prettier:format, pnpm lint, vitest related --run

fix(expand): set default for content
  src/lib/expand.ts
Due: pnpm prettier:format, pnpm lint, vitest related --run

docs: documents recent additions
  docs/conf.py
  docs/index.rst
  docs/internal/if.rst
  docs/internal/set.rst
  docs/internal/var.rst
  docs/internal_macros.rst
  docs/macro_arguments.rst
  docs/macro_expansion.rst
Due: none

deploy: d528832bea9f9296f0d339f02d4e4375c97b4fdb
  _sources/index.rst.txt
  _sources/internal/if.rst.txt
  _sources/internal/set.rst.txt
  _sources/internal/var.rst.txt
  _sources/internal_macros.rst.txt
  _sources/macro_arguments.rst.txt
  _sources/macro_expansion.rst.txt
  genindex.html
  index.html
  internal/if.html
  internal/set.html
  internal/var.html
  internal_macros.html
  macro_arguments.html
  macro_expansion.html
  objects.inv
  searchindex.js
Due: pnpm prettier:format, pnpm lint, vitest related --run

build: adds github actions to build/release module
  .github/FUNDING.yml
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/styling.md
  .github/workflows/build-and-deploy-docs.yml
  .github/workflows/build-and-release.yml
  .github/workflows/bump-version.yml
  LICENSE
  package.json
Due: pnpm prettier:format

chore(commitizen): renamed cz config file to be recognised by build
  .cz.json
  .czrc
Due: pnpm prettier:format

refactor(commitizen): split configuration for commitizen
  .cz.json
  .cz.toml
  package.json
Due: pnpm prettier:format

fix(commitizen): carelessness!
  .cz.toml
Due: none

fix(ci): correct order of setup
  .github/workflows/build-and-release.yml
Due: none

deploy: 29bd16f91650ef11938b2e2ba863703834658bc7
  .buildinfo
  _static/documentation_options.js
  genindex.html
  index.html
  internal/if.html
  internal/set.html
  internal/var.html
  internal_macros.html
  macro_arguments.html
  macro_expansion.html
  search.html
Due: pnpm prettier:format, pnpm lint, vitest related --run

fix(ci): cache the documentation package
  .github/workflows/build-and-deploy-docs.yml
Due: none

deploy: 4bda7b1ad71fce98e24fe9bdd26e376e9a441e76
  .buildinfo
  _static/documentation_options.js
  genindex.html
  index.html
  internal/if.html
  internal/set.html
  internal/var.html
  internal_macros.html
  macro_arguments.html
  macro_expansion.html
  search.html
Due: pnpm prettier:format, pnpm lint, vitest related --run

fix(ci): fixes broken build
  .github/workflows/build-and-deploy-docs.yml
  .github/workflows/build-and-release.yml
Due: none

deploy: 779a585408a44e2ae0417a21f5f1cc8e41bf9981
  .buildinfo
  _static/documentation_options.js
  genindex.html
  index.html
  internal/if.html
  internal/set.html
  internal/var.html
  internal_macros.html
  macro_arguments.html
  macro_expansion.html
  search.html
Due: pnpm prettier:format, pnpm lint, vitest related --run

chore(merge): merge
  .cz.toml
Due: none

deploy: 8253ba3d6fd39beddfa80743d1a4e660dfbdce0a
  .buildinfo
  _static/documentation_options.js
  genindex.html
  index.html
  internal/if.html
  internal/set.html
  internal/var.html
  internal_macros.html
  macro_arguments.html
  macro_expansion.html
  search.html
Due: pnpm prettier:format, pnpm lint, vitest related --run

chore: pull merge
  .github/workflows/build-and-deploy-docs.yml
Due: none

chore(github): corrects patreon funding link
  .github/FUNDING.yml
Due: none

chore(ci): standardise on ref_name and stripped version
  .github/workflows/build-and-release.yml
Due: none

style: format
  src/lib/internalMacros/if.ts
Due: pnpm prettier:format, pnpm lint, vitest related --run

chore(ci): limit document build on push to docs/
  .github/workflows/build-and-deploy-docs.yml
Due: none

docs: correct name of wrapped function
  docs/index.rst
Due: none

deploy: 1139b174d5a79aa77b887d1a782e572c93bec544
  _sources/index.rst.txt
  index.html
  searchindex.js
Due: pnpm prettier:format, pnpm lint, vitest related --run

build: ignores docs paths for bump candidate
  .github/workflows/bump-version.yml
Due: none

feat(macros): adds ability to invoke Foundry macros by name
  docs/fvtt_macros.rst
  docs/index.rst
  src/lib/fvtt/macroTable.spec.ts
  src/lib/fvtt/macroTable.ts
  src/lib/internalMacros.ts
  src/lib/standardMacroLookup.spec.ts
  src/lib/standardMacroLookup.ts
  src/powerEnhance.ts
Due: pnpm prettier:format, pnpm lint, vitest related --run

deploy: 31442cd7bb2d4e20a10e27318a36bbe032306c3d
  _sources/fvtt_macros.rst.txt
  _sources/index.rst.txt
  fvtt_macros.html
  genindex.html
  index.html
  internal/if.html
  internal/set.html
  internal/var.html
  internal_macros.html
  macro_arguments.html
  macro_expansion.html
  objects.inv
  search.html
  searchindex.js
Due: pnpm prettier:format, pnpm lint, vitest related --run

deploy: 2d39f1e4d35f25d79478874d895a8c56f1fe8bc3
  .buildinfo
  _static/documentation_options.js
  fvtt_macros.html
  genindex.html
  index.html
  internal/if.html
  internal/set.html
  internal/var.html
  internal_macros.html
  macro_arguments.html
  macro_expansion.html
  search.html
Due: pnpm prettier:format, pnpm lint, vitest related --run

chore: rebase
  .github/workflows/build-and-release.yml
Due: none

ci(husky): skip commitizen on commit --amend or rebase
  .husky/prepare-commit-msg
Due: none

feat: adds macro looklp by UUID
  docs/fvtt_macros.rst
  src/lib/fvtt/macroTable.ts
  src/lib/standardMacroLookup.spec.ts
Due: pnpm prettier:format, pnpm lint, vitest related --run

deploy: ad82193cb5cdd2826ab61f13fb93aa3fa9445ce8
  _sources/fvtt_macros.rst.txt
  fvtt_macros.html
  index.html
  searchindex.js
Due: pnpm prettier:format, pnpm lint, vitest related --run

deploy: 9addb20441a03d3cbaff943309dc5bd0cfcff8a8
  .buildinfo
  _static/documentation_options.js
  fvtt_macros.html
  genindex.html
  index.html
  internal/if.html
  internal/set.html
  internal/var.html
  internal_macros.html
  macro_arguments.html
  macro_expansion.html
  search.html
Due: pnpm prettier:format, pnpm lint, vitest related --run

build: look up documentation artifact from current workfow
  .github/workflows/build-and-release.yml
Due: none

feat(expand): limits function expansions
  docs/fvtt_macros.rst
  docs/index.rst
  docs/internal/set.rst
  docs/macro_arguments.rst
  docs/macro_expansion.rst
  lang/en.json
  src/lib/expand.spec.ts
  src/lib/expand.ts
Due: pnpm prettier:format, pnpm lint, vitest related --run
